//
$primary: #7ccc63;	        //(124,204,99)
$secondary: #f39c12;	    //(243,156,18)
$button: #bdc3c7;	        //(189,195,199)
$menu: #e74c3c;	            //(231,76,60)
$backgroud: #2c3e50;	    //(44,62,80)